<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot - Thymeleaf - MySQL -- Success Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div id="wrapper">
    <!-- Navigator -->
    <div id="navigator">
        <nav>
            <div class="navbar">
                <!-- Logo | Alt text if not exist a logo -->
                <div class="navbar-banner">
                    <a class="white" href=""><img src="" alt="Logo"></a>
                </div>
                <div class="nav-links">
                    <div class="link"><a class="button-type-1" href="/register" title="Register">Register</a></div>
                    <div class="link"><a class="button-type-1" href="/login" title="Login">Login</a></div>
                </div>
                <div class="button-type-logout">
                    <form method="post" action="/logout">
                        <button class="button-type-1" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container container-grid">
        <h1>Success Login</h1>
    </div>
</div>
<footer id="footer">
    <div id="footer-content">
        <p>Copyright ©2022 All rights reserved |</p>
        <p title="Popa Catalin">&nbsp;Popa Catalin</p>
    </div>
</footer>
</body>
</html>